.aboutContainer {
    width: 100%;
    background-color: var(--baseColor);
    text-align: center;
    color: var(--fontColor);
    font-family: "classic1";
    font-size: 22px;
}

.aboutImageSection {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.aboutImageContainer {
    width: 55%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.aboutImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: 0.5s ease-in-out;
}

.threeAboutImage:hover img,
.twoAboutImage:hover img,
.oneAboutImage:hover img {
    transform: scale(1.1);
}

.oneAboutImage {
    grid-column: 2 / 10;
    grid-row: 1 / 3;
    overflow: hidden;
    position: relative;
}

.threeAboutImageCover,
.twoAboutImageCover,
.oneAboutImageCover {
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 10;
    color: white;
    background-color: black;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "classic2";
    font-size: 20px;
    bottom: calc(0% - 50px);
    transition: 0.5s ease-out;
}

.threeAboutImageCover {
    grid-column: 2 / 10;
    grid-row: 1 / 3;
}
.twoAboutImageCover {
    grid-column: 10 / 16;
    grid-row: 1 / 2;
}
.oneAboutImageCover {
    grid-column: 10 / 15;
    grid-row: 2 / 3;
}

.oneAboutImage:hover .oneAboutImageCover {
    bottom: 0;
}
.twoAboutImage:hover .twoAboutImageCover {
    bottom: 0;
}
.threeAboutImage:hover .threeAboutImageCover {
    bottom: 0;
}

.twoAboutImage {
    grid-column: 10 / 16;
    grid-row: 1 / 2;
    overflow: hidden;
    position: relative;
}

.threeAboutImage {
    grid-column: 10 / 15;
    grid-row: 2 / 3;
    overflow: hidden;
    position: relative;
}

.aboutTextSection {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}

.aboutTextContainer {
    width: 65%;
}