.recipesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 80px);
    color: var(--fontColor);
    background-color: var(--baseColor);
    padding-top: 20px;
}

.recipesPageHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "classic2";
    font-size: 50px;
    text-transform: uppercase;
}

.recipesCardContainer {
    margin:  50px 0 100px 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 40px;
}