.aboutParagraphContainer{
    width: 100%;
    height: calc(100vh - 80px);
    color: var(--fontColor);
    background-color: var(--baseColor);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "classic2";
}

.aboutParagraphContent {
    width: 65%;
}

.aboutParagraphContentP {
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 10px;
}

.aboutParagraphContent h1 {
    font-size: 60px;
    line-height: 55px;
}

.aboutParagraphContainer span {
    color: red;
}

.aboutParagraphContentP2 {
    font-family: "classic1";
    margin-top: 50px;
    font-size: 22px;
}

.aboutParagraphContentP2 a {
    text-decoration: none;
}

.aboutParagraphContentP2 span {
    font-family: "classic2";
    font-weight: 900;
    color: var(--fontColor);
}