.footerContainer{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 70px;
    color: var(--fontColor);
    background-color: var(--baseColor);
}

.footerSeperateLine {
    grid-column: 1 / span 3;
    grid-row: 1;
    width: 100%;
    height: 1px;
    background-color: var(--fontColor);
}

.footerMainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerMainText img {
    width: 250px;
}

.footerLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.footerLinks a {
    text-decoration: none;
}

.footerLinks li {
    color: var(--fontColor);
    margin: 0 15px;
    font-size: 16px;
    transition: font-weight 0.2s linear, transform 0.2s linear;
}

.footerLinks li:hover {
    font-weight: 900;
    transform: scale(1.1);
}

.footerLegal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    font-size: 16px;
}

.footerLegal p{
    font-size: 16px;
}
