.navContainer {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    color: var(--fontColor);
    background-color:var(--baseColor);
    padding: 0 70px;
}

.navLogoContainer {
    height: 79px;
    display: flex;
    align-items: center;
    width: 100%;
}

.navLogoContainer a {
    text-decoration: none;
    color: var(--fontColor);
}

.logoContainer{
    width: 100px;
    display: flex;
    align-items: end;
}

.logoContainer h1 {
    font-family: "classic2";
}

.logoContainer span {
    font-size: 30px; 
    margin-left: 5px;
}

.navLinkBox {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style-type: none;
    font-weight: 300;
}

.navLinkBox a {
    text-decoration: none;
}

.navLinkBox li {
    font-size: 16px;
    font-weight: 400;
    color: var(--fontColor);
    padding-left: 35px;
    transition: font-weight 0.2s linear, transform 0.2s linear;
}

.navLinkBox li:hover {
    font-weight: 900;
    transform: scale(1.1);
}

.activeNavLink li {
    font-weight: 900;
    /* transform: scale(1.1); */
}

.navSeperateLine {
    grid-column: 1 / span 2;
    grid-row: 2;
    width: 100%;
    height: 1px;
    background-color: var(--fontColor);
}