:root {
    --fontColor: #76520e; 
}

:root {
    --baseColor: #ffe169; 
}

*{
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 30px;
}
