:root {
    /* --fontColor: #76520e;   */
    --fontColor: #5A0808; 
     /*------------------------  */
    /* --fontColor: #800000;  */
    /* --fontColor: #2D2424;  */
}

:root {
    --baseColor: #ffe169; 
    /* ------------------------- */
    /* --baseColor: #F2E8C6;  */
    /* --baseColor: #E0C097;  */
}

*{
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 30px;
}
