:root {
    --fontColor: #5A0808;
}

:root {
    --baseColor: #ffe169; 
}

*{
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    background-color: var(--baseColor);
}

h1 {
    font-size: 30px;
}
